<table class="table">
    <thead>
      <tr>
          <th>Nº</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Endereço</th>
          <th>Cidade</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
        <!-- *ngFor is used to display all the record from employees. -->
        <tr *ngFor="let b of employees">
            <td>{{ b.id }}</td>
            <td>{{ b.name }}</td>
            <td>{{ b.fatherName }}</td>
            <td>{{ b.address }}</td>
            <td>{{ b.city }}</td>
            <td>
              <button [routerLink]="['/employee/', b.id]">Edit</button>
            </td>
            <td>
                <button (click)="delete(b.id)">Delete</button>
            </td>
          </tr>
    </tbody>
</table>